.Header {
  @include setFlex( row, space-between, center ) ;
  height: 97px ;
  width: 100% ;
  margin: 0 23px ;
  &> .logo {
    display: flex ;
  }
  &> .contacts {
    @include setFlex( column, center, flex-end ) ;
    margin-right: 2.1em;
    &> li {
      font-family: $font-family-b ;
      &:first-child {
        font-size: 1.4em;
        font-weight: 300;
        &> .separator {
          margin: 0 7px;
        }
        &> .phone {
          position: relative ;
          padding-left: 28px;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            background: url("../../static/images/header-contact-phone.png") no-repeat;
            width: 24px;
            height: 30px;
          }
        }
      }
      &:last-child {
        color: #AFAFAF;
        font-weight: 300;
        font-size: 13px;
        line-height: 13px ;
      }
    }
  }
}
