$screen-width-a: 1190px ;
$offset-size: 15px ;
$font-size-a: 1em ;
$font-family-a: Roboto, "Open Sans", sans-serif ;
$font-family-b: "Hind", Arial, sans-serif ;
$font-family-c: "Open Sans", Arial, sans-serif ;

$color-white-a: white ;
$color-blue-a: #48b4ee ;
$color-blue-light-a: #5dc6fe ;
