$screen-width-a: 1142px ;
$offset-size: 15px ;
$font-size-a: 16px ;
$font-family-a: 'Roboto', 'Open Sans', sans-serif;
$font-family-b: "Hind", Arial, sans-serif ;
$font-family-c: "Open Sans", Arial, sans-serif ;
$font-family-d: "FontAwesome", sans-serif ;

$color-black-a: black ;
$color-white-a: white ;
$color-white-b: #fafafa ;
$color-blue-a: #48b4ee ;
$color-blue-b: #9fb4ca ;
$color-blue-light-a: #5dc6fe ;
$color-blue-light-b: #7e9bb8 ;
$color-blue-dark-a: #2e3c49 ;
$color-red-a: #ff775d ;
$color-gray-a: #ddd ;
$color-gray-b: #868686 ;

$color-green-a: #40cf4d ;
$color-green-b: #31c43f ;
