body {
  font-family: $font-family-a ;
  font-size: $font-size-a;
  overflow: hidden ;
  margin: 0 ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
  padding: 0 ;
  margin: 0 ;
}
a { text-decoration: none }

/** [!] fix: antd styles overrides */
svg:not(:root) {overflow: visible!important}

.ant-input {
  border: 1px solid $color-gray-b;
  border-radius: 3px;
}
