body {
  font-family: $font-family-a ;
  font-size: $font-size-a;
  overflow: hidden ;
  margin: 0 ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
  padding: 0 ;
  margin: 0 ;
}
a { text-decoration: none }
p { margin: 0 ; padding: 0 }

/** [!] fix: antd styles overrides */
svg:not(:root) {overflow: visible!important}

.ant-checkbox-inner,
.ant-select,
.ant-input {
  border: 1px solid $color-gray-b;
  border-radius: 3px;
}
.ant-select-selector {
  border: none !important;
}
h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}
b { font-weight: 500 }
