body {
  font-family: $font-family-a ;
  font-size: $font-size-a;
  overflow: hidden ;
  margin: 0 ;
}
ul {
  list-style: none;
  padding: 0 ;
  margin: 0 ;
}
a { text-decoration: none }

/** [!] fix: antd styles overrides */
svg:not(:root) {overflow: visible!important}
