.Copyright {
  background-color: $color-blue-dark-a;
  color: $color-blue-b ;
  border-top: 1px solid #344452;
  padding: 16px 0;
  &> .wrapper {
    @include setFlex(row, space-between, center );
    small, a {color: #556f88}
    small { width: calc(100% / 4)}
  }
}
