.Copyright {
  background-color: $color-blue-dark-a;
  color: $color-blue-b ;
  border-top: 1px solid #344452;
  padding: 16px 0;
  &> .wrapper {
    @include setFlex(row, space-between, center );
    small {font-size: 76%}
    small, a {color: #556f88}
    small { width: calc(100% / 4)}
    small:last-child {font-size: 66%}
  }
}

@include setScreenWidth(800px) {
  .Copyright {
    &> .wrapper {
      @include setFlex(column, center, center );
      small {width: 100%; text-align: center}
    }
  }
}
