.ForgotYourPassword {
  @include setFlex(column, flex-start, center );
  border: 1px solid $color-gray-a;
  border-top: none ;
  background-color: $color-white-a;
  padding: 1em ;
  margin-bottom: 1em ;
  width: 100% ;
  &> .wrapper {
    display: flex ;
    justify-content: center;
    max-width: 50em;
    width: 100% ;
    &> div {
      display: flex;
      flex-direction: column;
      width: calc(100% / 2);
      padding-top: 2.3em;
      p {
        font-size: 14px ;
        margin: 0;
        font-weight: 500
      }
      .ant-checkbox-wrapper {
        padding-top: 1.4em ;
        font-size: $font-size-a ;
        &> span:last-child {
          text-align: center;
          &> a {
            color: $color-blue-a ;
            text-decoration: underline ;
          }
        }
      }
      .notification {
        color: $color-gray-b ;
        font-family: Arial, Helvetica, sans-serif;
      }
      &> .Button {
        @include buttonStyleA( $color-white-a, $color-green-a, $color-green-a, $color-white-a, $color-green-b, $color-green-b, 15px ) ;
        margin-top: 1.4em;
        margin-bottom: .8em;
        align-self: center;
        justify-self: center;
        text-transform: uppercase;
        padding: 8px 29px !important;
        font-weight: 500;
      }
    }
  }
}

@include setScreenWidth(990px) {}
@include setScreenWidth(640px) {
  .ForgotYourPassword {
    &> .wrapper {
      &> div { width: 80% }
    }
  }
}
@include setScreenWidth(440px) {
  .ForgotYourPassword {
    &> .wrapper {
      &> .fields { padding: 0 }
      &> div { width: 100% }
    }
  }
}
@include setScreenWidth(335px) {}
