.HomeMenu {
  .IconHome {
    width: 1.3em;
    margin: 0 1em;
    fill: $color-white-a ;
  }
  .Button {
    @include buttonStyleA($color-white-a, transparent, $color-white-a, $color-blue-a, $color-white-a, $color-white-a, 1.035em) ;
    font-family: $font-family-c;
  }
}
