.SignIn {
  @include setFlex(column, flex-start, center );
  border: 1px solid $color-gray-a;
  border-top: none ;
  background-color: $color-white-a;
  padding: 1em ;
  margin-bottom: 1em ;
  width: 100% ;
  &> .wrapper {
    display: flex ;
    max-width: 54em;
    width: 100% ;
    &> div {
      display: flex;
      flex-direction: column;
      width: calc(100% / 2);
      padding-top: 2.3em;
      p { font-size: 14px ; margin: 0 }
    }
    &> div:first-child {
      .ant-checkbox-wrapper {
        padding-top: 2em;
        font-size: $font-size-a ;
        margin-bottom: 1.6em;
      }
      &> .Button {
        @include buttonStyleA( $color-white-a, $color-green-a, $color-green-a, $color-white-a, $color-green-b, $color-green-b, 14px ) ;
        align-self: center;
        justify-self: center;
        text-transform: uppercase;
        padding: 8px 29px !important;
        margin-bottom: 1em;
      }
    }
    &> div:last-child {
      &> .social {
        padding-top: 1.5em;
        padding-left: 6.3em;

        .button.swipe {
          width: 16.5em ;
          font-size: 16px;
          &.facebook {@include buttonStyleB(#3B5998)}
          &.google {
            @include buttonStyleB(tomato);
            margin-top: 17px;
          }
        }
      }
    }
  }
}
