$border-divider-color: #d5d5d5 ;

.TopMenu {
  background-color: $color-white-b;
  border-bottom: 1px solid $border-divider-color ;
  &> .wrapper {
    @include setFlex(row, flex-end, center);
    padding: 10px 0;
    &> .mobile {
      display: none ;
      cursor: pointer;
      font-size: 25px ;
      color: $color-gray-b;
    }
  }
  .menu-items {
    @include setFlex(row, flex-end, center);
    &> li {
      a {
        font-size: 14px ;
        padding: 10px 5px 15px;
        color: $color-gray-b;
      }
      &:after {
        content: "";
        border-right: 1px solid $border-divider-color;
        height: 100%;
      }
      &:nth-last-child(1):after,
      &:nth-last-child(2):after {
        content: "";
        border: none;
      }
    }
    .icon-wallet {
      display: inline-block;
      width: 40px;
      height: 17px;
      background-repeat: no-repeat;
      background-image: url(/static/images/icon-wallet.png);
      text-align: right;
    }
  }
}

@include setScreenWidth(555px) {
  .TopMenu {
    &> .wrapper {
      &> .mobile { display: flex }
      &> .menu-items { display: none }
    }
  }
}
